In [4]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv('data_raw/pit_stops.csv')
display(df)

engine = create_engine('postgresql://postgres:12345@localhost:5432/formula1')

df.to_sql(name='pit_stops', con=engine, if_exists='replace', index=False)

      raceId  driverId  stop  lap      time duration  milliseconds
0        841       153     1    1  17:05:23   26.898         26898
1        841        30     1    1  17:05:52   25.021         25021
2        841        17     1   11  17:20:48   23.426         23426
3        841         4     1   12  17:22:34   23.251         23251
4        841        13     1   13  17:24:10   23.842         23842
...      ...       ...   ...  ...       ...      ...           ...
9629    1096       849     2   38  18:02:50   25.174         25174
9630    1096       840     2   40  18:04:44   21.802         21802
9631    1096       839     2   41  18:06:09   21.734         21734
9632    1096       846     2   42  18:07:36   21.559         21559
9633    1096       855     2   44  18:11:10   23.159         23159

[9634 rows x 7 columns]

634